{% extends "base.html" %}

{% block content %}
<div id="container">
{% if user_status == 'just_registered' %}
  <p>Welcome, {{ user_email }}. You will receive a confirmation email shortly.</p>

{% elif user_status == 'signed_out_or_not_registered' %}
  <ul>
    <li>Every day you'll receive an email from us.</li>
    <li>Reply with something you're grateful for.</li>
    <li>We'll store your replies in a Google Spreadsheet.</li>
  </ul>
  <a href="{{ sign_up_link }}">
    <div id="customBtn" class="customGPlusSignIn">
      <span class="icon"></span><span class="buttonText">
        Sign up with your Google Account</span>
    </div>
  </a>
  <p id="signed-in">
    Already subscribed? <a href="{{ sign_in_link }}">Sign in</a>.
  </p>

{% else %}
  {% if user_status == 'registered' %}
    <p>Hi there, {{ user_email }}. You can:</p>
  
  {% elif user_status == 'already_registered' %}
    <p>Looks like you're already signed up, {{ user_email }}. You can:</p>
  
  {% endif %}
  <ul>
    <li><a href="{{ responses_link }}">View your responses spreadsheet</a></li>
    <li><a href="{{ unsubscribe_link }}">Unsubscribe</a></li>
    <li><a href="{{ sign_out_link }}">Sign out</a></li>
  </ul>

{% endif %}
</div>
{{ content|safe }}
{% endblock %}
