<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="img/ico" href="static/images/favicon.ico?v=2">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Gratitude Reminder</title>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
</head>
<body>
  
  <a id="header-link" href="/">
    <header>
      <h1>Gratitude Reminder</h1>
    </header>
  </a>
  
  <div id="main">
    {% block content %}{% endblock %}
  </div>

{% block scripts %}{% endblock %}
</body>
</html>
