<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  
  <a id="header-link" href="/">
    <header>
      <h1>Daily Gratitude</h1>
    </header>
  </a>
  
  <div id="main">
    <form action="/signup-form" method="post">
      <input id="signup-email" type="email" name="email" placeholder="Email address">
      <input id="submit-button" type="submit" value="Sign up">
    </form>
    <ul>
      <li>Every day you'll receive an email from abbot@dailygratitude.co.</li>
      <li>Reply with something you're grateful for.</li>
      <li>Return here to see your past responses.</li>
    </ul>
  </div>

  <script src="/static/js/script.js"></script>
</body>
</html>
